<% @suggestions.each do |hash|%>
  <div class = "suggestion">
    <% food = hash["food_id"]%>
    <%= food.food.name %>
    <% sound = hash["music_id"]%>
    <%= sound.music.name %>

  </div>
<%end%>
